.header{
  width: 100%;
  min-height: 500px;
  background: url('../assets/img/headerBG.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  position: relative;
  text-align: center;
}

.footer{
  width: 100%;
  height: 200px;
  background: url("../assets/img/footerBG.jpg") no-repeat;
  background-size: cover;
}
