.home__collection__title{
  width: 100%;
  text-align: center;
  font-family: "Open Sans", serif;
  font-size: 2em;
  color: #333;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .95);
  text-transform: uppercase;
  margin-top: 50px;
}
.home__collection__description{
  width: 100%;
  text-align: center;
  font-family: "Open Sans", serif;
  font-size: 1em;
  color: #333;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .95);
  margin: 0;
  text-transform: lowercase;
}
